@{
    ViewData["Title"] = "MK Home page";
}

<header class="text-center jumbotron justify-content-center">
    <h1 class="display-4"> CO453 Application Programming </h1>
    <h2> By. Martin Konecny </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>

<section>
    <ol class=" list-group"> 
        <li class=" list-group-item">
            <a asp-controller="Home" asp-action="DistanceConverter">App01: Distance Converter</a>
        </li>
        <li class=" list-group-item">
            <a asp-controller="Home" asp-action="BMICalculator">App02: BMI Calculator</a>
        </li>
        <li class=" list-group-item">
            <a asp-controller="Home" asp-action="StudentMarks">App03: Student Marks</a>
        </li>

    </ol>
</section>